$accent: #F2D933;

SpaceToStart {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 4s ease;
    color: white;
    font-size: 60px;
    flex-direction: column;

    .Overlay {
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 1;

        &.Hide {
            opacity: 0;
            transition: all 4s ease;
        }

        .Text {
            position: absolute;
            width: 100%;
            height: 250px;
            bottom: 0px;
            text-align: center;
        }
    }
}