$accent: #F2D933;

StaminaBar {
    position: absolute;
    bottom: 250px;
    left: 50%;
    width: 250px;
    transform: translate( -50% );
    opacity: 0;
    transition: opacity 1000ms ease;

    &.visible {
        transition: opacity 100ms ease;
        opacity: 1;
    }
    
    flex-direction: row;
}

.icon, .label {
    color: $accent;
    text-shadow: 0 1px 1px rgba( black, 0.1 );
    font-size: 24px;
}

.left {
    margin-top: -2px;
    margin-right: 2px;
}

.right {
    margin-left: 2px;
    flex-direction: column;
    flex-grow: 1;

    label.label {
        font-size: 16px;
        text-transform: uppercase;
    }

    .bar {
        background-color: rgba( black, 0.5 );
        height: 2px;
        width: 100%;

        .fill {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: $accent;
            box-shadow: 0 1px 5px rgba( black, 0.1 );
        }
    }
}