$accent: #fe71dc;

.world-panel {
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;

    font-weight: 800;
    text-stroke: 8px black;
    text-transform: uppercase;
}