@import "/UI/Style/StaminaBar.scss";
@import "/UI/Style/InteractionProgress.scss";
@import "/UI/Style/BatteryLevel.scss";
@import "/UI/Style/WorldPanels.scss";
@import "/UI/Style/Crosshair.scss";
@import "/UI/Style/LetterboxBars.scss";
@import "/UI/Style/SpaceToStart.scss";

RootPanel {
    &.in-cutscene {
        StaminaBar, InteractionProgress, BatteryLevel, Crosshair {
            display: none;
        }

        LetterboxBars {
            display: flex;
        }
    }

    &.in-delayed-cutscene {
        StaminaBar, InteractionProgress, BatteryLevel, Crosshair {
            display: none;
        }

        SpaceToStart {
            display: flex;
        }
    }
}

text, label {
    font-family: Chakra Petch;
}

icon, iconpanel {
    font-family: MaterialIcons-Regular;
}

.auto-hide {
    opacity: 0;
    transition: opacity 1000ms ease;

    &.visible {
        transition: opacity 100ms ease;
        opacity: 1;
    }
}