@import "/UI/Style/StaminaBar.scss";
@import "/UI/Style/InteractionProgress.scss";
@import "/UI/Style/BatteryLevel.scss";
@import "/UI/Style/WorldPanels.scss";
@import "/UI/Style/Crosshair.scss";
@import "/UI/Style/LetterboxBars.scss";
@import "/UI/Style/SpaceToStart.scss";
@import "/UI/Style/NotePanel.scss";
@import "/UI/Style/Objectives.scss";

RootPanel {
    &.in-cutscene {
        StaminaBar, InteractionProgress, BatteryLevel, Crosshair, Objectives {
            display: none;
        }

        LetterboxBars {
            display: flex;
        }
    }

    &.in-delayed-cutscene {
        StaminaBar, InteractionProgress, BatteryLevel, Crosshair, Objectives {
            display: none;
        }

        SpaceToStart {
            display: flex;
        }
    }

    font-family: Chakra Petch;
}

IconPanel, icon, i {
    font-family: MaterialIcons;

    label {
        font-family: MaterialIcons;
    }
}

.auto-hide {
    opacity: 0;
    transition: opacity 1000ms ease;

    &.visible {
        transition: opacity 100ms ease;
        opacity: 1;
    }
}

.hide {
    opacity: 0;
}