@import "/UI/Style/StaminaBar.scss";
@import "/UI/Style/InteractionProgress.scss";
@import "/UI/Style/BatteryLevel.scss";
@import "/UI/Style/WorldPanels.scss";
@import "/UI/Style/Crosshair.scss";
@import "/UI/Style/LetterboxBars.scss";
@import "/UI/Style/SpaceToStart.scss";
@import "/UI/Style/DeathScreen.scss";
@import "/UI/Style/NotePanel.scss";
@import "/UI/Style/ObjectivePanel.scss";
@import "/UI/Style/NewObjectivePanel.scss";
@import "/UI/Style/PrereqHint.scss";

RootPanel {
    &.in-cutscene {

        StaminaBar,
        InteractionProgress,
        BatteryLevel,
        Crosshair,
        ObjectivePanel,
        ObjectiveOverlay,
        PrereqHint,
        NewObjectivePanel {
            display: none;
        }

        LetterboxBars {
            display: flex;
        }
    }

    &:not(.has-helmet) {
        BatteryLevel {
            display: none;
        }
    }

    &.player-dead {

        StaminaBar,
        InteractionProgress,
        BatteryLevel,
        Crosshair,
        ObjectivePanel,
        ObjectiveOverlay,
        PrereqHint,
        NewObjectivePanel {
            display: none;
        }
    }

    &:not(.player-dead) {
        DeathScreen {
            display: none;
        }
    }

    font-family: Chakra Petch;
    text-shadow: 0 4px 4px rgba(black, 0.25);
}

IconPanel,
icon,
i {
    font-family: MaterialIcons;

    label {
        font-family: MaterialIcons;
    }
}

.auto-hide {
    opacity: 0;
    transition: opacity 1000ms ease;

    &.visible {
        transition: opacity 100ms ease;
        opacity: 1;
    }
}

.hide {
    opacity: 0;
}